<% provide(:title, @title) %>
<% provide(:desc, @desc) %>
<section class="h-screen bg-purple hero">
	<div class="container text-center p-3 bg-green rounded">
		<h1>Action: <%= params[:action] %></h1>
		<p>Controller: <%= params[:controller] %></p>
		Well.. This is different...
	</div>
</section>