<section class="h-screen w-full bg-green">
	<div class="h-full flex items-center justify-center">
		<h1 class="text-white"><%= @user.name %></h1>
		<h2 class="text-white"><%= @user.email %></h2>
	</div>
</section>